/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

.logo-img {
  margin: 0 auto;
}



#block-block-2{
  ul {
    margin-bottom:0px;
  }
  li {
    background-color:#eaeaea;
    float:left;
    list-style:none;
    font-size: 0.813em;
    font-weight:600;
  }
  li:before {
    font-family: FontAwesome;
    content: "\f058";
    color:#8e0018;
  }
}

.field-name-field-tekst-rechts {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.field-name-field-tekst-lang {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}


.dienst {
  width: 19.3%;
  float: left;
  text-align: center;
  margin-bottom: 60px;
  a {
    font-size:1.125em;
    color:#000000;
  }
  a:hover {
    text-decoration:none;
    border-bottom: 3px solid #8e0018;

  }
  img {
    width:50%;
    margin-bottom:25px;
  }
}

.zone-postscript-wrapper {
  background-color:#eaeaea;
  padding:50px 0 45px 0;
  a.readmore {
    background-color:#8e0018;
    padding:23px;
    font-size:1.125em;
    font-weight:600;
    color:#ffffff;
  }
  .readmore {
    width: 23%;
    margin: 0 auto;
    padding-bottom:40px;
  }
  .view-id-diensten {
    margin-top:50px;
  }
}

.zone-footer-wrapper {
  background-color:#8e0018;
  color:#ffffff;
  font-size:0.938em;
  padding:60px 0;
  text-align:center;
  a {
    color:#ffffff;
    text-transform: none;
  }
  h2.block-title {
    font-size:1.125em;
    text-align:center;
    color:#ffffff;
  }
  .sf-menu li {
    float: none;
    position: relative;
    z-index: 498;
  }
  .block-superfish {
    float:left;
  }
  ul.menu li {
    margin: 0 0 0 0;
  }
  li a.active {
    color: #ffffff;
  }
}

input[type="text"] {
  width: 50%;
  margin: 0 auto;
}

.form-textarea-wrapper textarea {
  width: 50%;
  margin: 0 auto;
}

.view-projecten {
  img {
    float:left;
    padding:50px 7px;
    width:23%;
  }
  a:after {
    content: ".";
    background: url("/img/search.png");
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -9999px;
  }
}

#zone-header{
  width:100%;
  #region-header-first{
    width:100%;
    margin:0 auto;
    img {
      height:auto;
      width:100%;
    }
  }
}

.logo-img {
  margin-top:10px;
  img {
    width:80%;
    margin-bottom: 10px;
    margin:0 auto;
  }
}

.block-superfish {
  float: right;
}

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000;
  margin-top: 37px;
}


